* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	width: 100dvw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {}

.main-card {
	padding: 2rem;
}

.reactive-card {
	margin-bottom: 2rem;
}

.display {
	margin-top: 2rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Utilities */

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.align_button {
	position: absolute;
	transform: translate(0, -50%);
	right: 0;
}
